@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
   font-family: 'Open Sans',serif !important;
}

#myNav {
  background-color: #C0C0C0;
}

nav #myBrand, nav #navBtn {
  color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.7);
}

#homeHeader {
  margin-top: 70px;
  font-size: 33px;
  font-weight: 600;
}

navbar li {
  font-size: 14px;
}

#homeBtn {
  background-color: #336699;
  color: rgba(255,255,255,0.9);
  font-size: 16px;
  line-height: 17px;
  padding: 12px 30px 12px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

#homeBtn:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  color: #fff;
}

#myWell {

}

#homeP{
  font-size: 16px;
  margin-top: 15px;
}

#homeImg {
  height: 110px;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

#containerTron {
  height: 850px;
}

@media  (min-width: 400px) and (max-width: 800px) {
  #homeImg {
    margin-bottom: 10px;
    margin-top: 50px;
  }
}

@media  (min-width: 801px) and (max-width: 1000px) {
  #containerTron {
    height: 700px;
  }

  #moveImg {
    margin-top: 15px;
  }
}

@media  (min-width: 1001px) and (max-width: 1300px) {
  #containerTron {
    height: 500px;
  }

  #moveImg {
    margin-top: 15px;
  }
}

///////////////////////////////////Middle section

#containerMid {
background-color: #336699;
height: 1300px;
}

#midHeader {
  margin-top: 35px;
  font-size: 30px;
  color: #fff;
  opacity: 0.8;
}

#containerMid p {
  margin-top: 20px;
  color: #fff;
  opacity: 0.8;
  font-size: 16px;

}

#imageRow {
  margin-top: 30px;
}

@media  (min-width: 400px) and (max-width: 800px) {

  #triBubbles{
    margin-bottom: 40px;
  }

  #triBubbles #circular-image {
    width: 50%;
  }
}

@media  (min-width: 801px) and (max-width: 991px) {

  #triBubbles{
    margin-bottom: 60px;
  }

  #triBubbles #circular-image {
    width: 40%;
  }
}

@media  (min-width: 992px) and (max-width: 1300px) {
  #containerMid {
  height: 600px;
  }
}


//////////////MISC/////////////////////////////

#circular-image {
  border-top-left-radius: 70% 70%;
  border-top-right-radius: 70% 70%;
  border-bottom-right-radius: 70% 70%;
  border-bottom-left-radius: 70% 70%;
  width: 75%;
  display: block;
  margin: 0 auto;
}

/////////////////////////////////////////////////FOOTER

#footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 60px;
  background-color: #f5f5f5;
  .footer-block {
    margin: 20px 30px;
  }

  .footer-block a {
    color: #333;
  }

  .footer-block a:hover {
    color: #333;
    opacity: 0.9;
  }

}

#footer #footerText{
  display: inline-block;
  margin-right: 30px;
}
